/* 清楚默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
/* 去除a标签的基本样式 */
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button,
input,
select,
textarea {
  font: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
